/* Kõik styling tuleb siia */

* {
    padding: 0;
    margin: 0;
}
body {
    width: 100%;
}

.btn-custom {
    color: #166AEA;
    background-color: #fff;
    border-color: #166AEA;
    border-radius: 25px;
    width: 12rem;
}
.btn-custom:hover {
    color: #fff;
    background-color: #166AEA;
    border-color: #166AEA;
    border-radius: 25px;
    width: 12rem;
}
.btn-secondary:disabled {
    color: #fff;
    background-color: #116DFF;
    border-color: #166AEA;
    border-radius: 30px;
    width: 13rem;
    height: 60px;
    font-size:23px;
    opacity: 1;
}

/* introduction */
.introduction {
    text-align: center;
}
.introduction-h1 {
    font-size:600%;
    font-weight: bold;
}
.introduction-h4 {
    font-size: 130%;
    font-weight: 400;
}
.introduction-h5 {
    font-size: 90%;
    font-weight: 350;
}
.btn-primary {
    color: #ea1616;
}

/* Description */
.description-1 {
    margin-left: 32px;
}
.description-2 {
    margin-left: 58px;
    margin-right: 40px;
}
.float-child {
    width: 50%;
    float: left;
    background-color: #14348e;
    text-align: center;
}
.float-child-1 {
    width: 50%;
    float: left;
    background-color: #035946;
}
.float-child-2 {
    width: 50%;
    float: left;
    background-color: #14348e;
}
.float-child-3 {
    width: 47%;
    float: left;
    background-color: #035946;
}
.float-child-4 {
    width: 53%;
    float: left;
}
.description-h1 {
    font-size:320%;
    color:#fff;
    line-height: 50px;
}
.description-h2 {
    font-size:135%;
    font-weight: 500;
    color:#fff;
    line-height: 50px;
}
.description-h3 {
    font-size:135%;
    font-weight: 350;
    color:#fff;
    line-height: 50px;
}
.description-h3-2 {
    font-size:135%;
    font-weight: 350;
    color:#fff;
    line-height: 32px;
}
.description-p {
    font-size:17px;
    font-weight: 350;
    color:#fff;
    line-height: 25.5px;
}
.description-a {
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}

/* Navigation bar styles */

.navbar{
    background-color: #fff;
    height: 71px;
}
#navbar-link-el {
    text-decoration: none;
    padding: 0 1rem;
    color: #000000;
    opacity: 0.9;
}
#navbar-link-el:hover {
    opacity: 1;
    color: #166AEA;
}
#navbar-logo {
    text-decoration: none;
    color: #000;
    font-weight: 900;
    font-size: 2rem;
    padding: 0 1rem;
}
#basic-nav-dropdown {
    color: #000000;
    font-size: 14px;
    letter-spacing: 0.5px;
}
#basic-nav-dropdown:hover {
    color: #166AEA;
}
#img-logo {
    width: 4rem;
}
/* Register page styles */
.register-form {
    display: grid;
    place-items: center;
    height: 100%;
}
#register-submit-btn {
    width: 100%;
}
/* Login page styles */
.login-form {
    display: grid;
    place-items: center;
}
